<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{::title})">
  <title>用户设置-Jerry's Blog</title>
</head>
<body>

<!--导航-->
<nav th:replace="admin/_fragments :: menu(4)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small" >
  <div class="ui container">
    <div class="ui inverted secondary stackable menu">
      <h2 class="ui teal header item">管理后台</h2>
      <a href="#" class="active m-item item m-mobile-hide"><i class="mini home icon"></i>博客</a>
      <a href="#" class=" m-item item m-mobile-hide"><i class="mini idea icon"></i>分类</a>
      <a href="#" class="m-item item m-mobile-hide"><i class="mini tags icon"></i>标签</a>
      <div class="right m-item m-mobile-hide menu">
        <div class="ui dropdown  item">
          <div class="text">
            <img class="ui avatar image" src="https://unsplash.it/100/100?image=1005">
          </div>
          <i class="dropdown icon"></i>
          <div class="menu">
            <a href="#" class="item">注销</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
    <i class="sidebar icon"></i>
  </a>
</nav>


<div  class="m-container m-padded-tb-big">
  <div class="ui container">
    <div class="ui success message" th:if="${user.id} != 1">
      <i class="close icon"></i>
      <div class="header">提示：</div>
      <p>只将需要更改的信息更改即可，密码及上传图片不输入内容则默认保持原样</p>
      <p>用户名与昵称默认一致，昵称可以更改，用户名不可更改（除登录外其他任何地方都不会显示的），如确需更改用户名请联系Jerry</p>
      <p>头像与二维码建议上传（小于2mb），否则部分区域会显示空白（头像显示区域及文章底部转载声明处二维码区域）</p>
    </div>
    <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
      <i class="close icon"></i>
      <div class="header">提示：</div>
      <p th:text="${message}">操作成功！</p>
    </div>
    <form id="user-form" action="#" th:object="${user}" th:action="@{/admin/submit}" method="post" class="ui form" enctype="multipart/form-data">
      <input type="hidden" name="id" th:value="*{id}">
      <input type="hidden" name="username" th:value="*{username}">
      <div class="required field">
        <div class="ui left labeled input">
          <label class="ui black basic label" >昵称</label>
          <input class="inputAble" type="text" name="nickname" placeholder="昵称" th:value="*{nickname}" >
        </div>
      </div>

      <div class="required field" th:if="${user.id} == 1">
        <div class="ui left labeled input">
          <label class="ui black basic label">E-mail</label>
          <input class="inputAble" type="text" name="email" placeholder="email" th:value="*{email}" >
        </div>
      </div>

      <div class="required field" th:if="${user.id} == 1">
        <div class="ui left labeled input">
          <label class="ui black basic label">QQ</label>
          <input class="inputAble" type="text" name="qq" placeholder="qq" th:value="*{qq}"  >
        </div>
      </div>
      <div class="required field">
        <div class="ui left labeled input">
          <label class="ui black basic label">密码</label>
          <input class="inputAble" type="password" name="password" placeholder="设置新的密码" th:value="*{password}">
        </div>
      </div>
      <div class="required field">
        <div class="ui left labeled input">
          <label class="ui black basic label">确认密码</label>
          <input class="inputAble" type="password" name="confirmPassword" placeholder="确认新的密码">
        </div>
      </div>
      <div class="required field" th:if="${user.id} == 1">
        <textarea class="inputAble" name="description" th:text="*{description}" placeholder="个人描述..." maxlength="200"></textarea>
      </div>
      <div class="required field">
        <div class="ui left labeled input">
          <label class="ui black basic label">头像</label>
          <input id="file" class="inputAble" type="file" accept="image/*" name="file" >
          <input type="hidden" name="avatar" th:value="*{avatar}" >
        </div>
      </div>
      <div class="required field">
        <div class="ui left labeled input">
          <label class="ui black basic label">微信二维码</label>
          <input id="file2" class="inputAble" type="file" accept="image/*" name="file2" >
          <input type="hidden" name="WeChatQRCode" th:value="*{WeChatQRCode}" >
        </div>
      </div>

      <div class="ui right aligned container">
        <button type="button" id="editing-btn" class="ui black button">确定</button>
      </div>

    </form>
  </div>
</div>

<br>
<br>
<!--底部footer-->
<footer th:replace="admin/_fragments :: footer"/>
<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<!--/*/</th:block>/*/-->

<script>

  $('.menu.toggle').click(function () {
    $('.m-item').toggleClass('m-mobile-hide');
  });

  $('.ui.dropdown').dropdown({
    on : 'hover'
  });

  function checkFile(name){
    if(document.getElementById(name).files[0] != undefined){
      if (document.getElementById(name).files[0].size >= 2*1024*1024){
        alert("图片不得大于2mb");
        return false;
      }
    }
    return  true;
  }

  $('#editing-btn').click(function () {
    var s1 =  $('[name = "password"]').val();
    var s2 =  $('[name = "confirmPassword"]').val();
    if(s1.length < 6 && s1.length > 0){
      alert("密码长度应大于等于6");
      return;
    }
    if (!checkFile("file") || !checkFile("file2")){
      return;
    }
    if(s1 != s2){
      alert("两次密码输入不一致");
      return;
    }
    $('#user-form').submit();
  });

  //消息提示关闭初始化
  $('.message .close').on('click', function () {
    $(this).closest('.message').transition('fade');
  });

  $(function(){
    $('#adminLogo').click(function(){
      window.location.href = "/admin";
    })
  });
</script>
</body>
</html>