<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jerry's Blog</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css" >
    <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}" >
</head>
<body>

<header id="welcome" class="header-img" th:if="${page.first}">
        <div class="header-overlay"></div>
        <div class="container">
            <div id="welcome-info" class="row">
                <div class="col-md-12 text-left">
                    <h1>Hi, 我是Jerry</h1>
                    <h2 class="cd-headline clip is-full-width">
								<span class="cd-words-wrapper">
									<b class="is-visible"></b>
                                    <b>欢迎来到Jerry's Blog！</b>
									<b>这里有很多有趣的内容。</b>
									<b>希望你能喜欢。:)</b>
								</span>
                    </h2>
                    <p id="goHome" style="color:white">向上滑进入首页>>></p>
                </div>
            </div>
        </div>
    </header>

<nav id="indexNavbar" class=" ui inverted attached segment m-padded-tb-mini" >
    <div id="nav-items">
        <div class="ui container">
            <div class="ui inverted secondary stackable menu">
                <h2 id="logo" class="ui white header item">Jerry's Blog</h2>
                <a id="homePage" href="#" th:href="@{/?page=0}"  class="m-item item m-mobile-hide active"><i class="home icon "></i>首页</a>
                <a href="#" th:href="@{/types/-1}" class="m-item item m-mobile-hide"><i class="tasks icon"></i>分类</a>
                <a href="#" th:href="@{/tags/-1}" class="m-item item m-mobile-hide"><i class="tag outline icon"></i>标签</a>
                <a href="#" th:href="@{/archives}" class="m-item item m-mobile-hide" ><i class="save outline icon"></i>归档</a>
                <a href="#" th:href="@{/about}" class="m-item item m-mobile-hide "><i class="comment icon"></i>关于我</a>
                <div id="search-div" class="right m-item item m-mobile-hide">
                    <form name="search" action="#" th:action="@{/search}" method="post" >
                        <div class="ui icon  input m-margin-tb-tiny">
                            <input type="text" name="query" placeholder="搜索我的相关博客" th:value="${query}">
                            <i onclick="document.forms['search'].submit()" class="search link icon"></i>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <a id="mobile-show" class="ui menu toggle black icon button m-right-top m-mobile-show">
            <i class="sidebar icon"></i>
        </a>
    </div>

</nav>

<!--中间内容-->
<div id="indexContainer" class="m-container-index m-padded-tb-large">
    <div id="nav-area" ></div>
    <div class="ui container">
        <div class="ui stackable grid">

            <!--右边的top-->
            <div class="five wide column left-index">

                <!--最新推荐-->
                <div class="ui segments m-margin-top-large">
                    <div class="ui secondary segment ">
                        <i class="bookmark icon"></i>最新推荐
                    </div>
                    <div class="ui segment" th:each="blog : ${recommendBlogs}">
                        <a href="#"  class="m-black m-text-thin" th:text="${blog.title}" th:href="@{/blog/{id}(id=${blog.id})}">用户故事（User Story）</a>
                    </div>
                </div>

                <!--分类-->
                <div class="ui segments">
                    <div class="ui secondary segment">
                        <div class="ui two column grid">
                            <div class="column">
                                <i class="tasks icon"></i>分类
                            </div>
                            <div class="right aligned column">
                                <a href="#" th:href="@{/types/-1}" class="ui label">更多 <i class="angle double right icon"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="ui segment">
                        <div class="ui fluid vertical menu">
                            <a href="#" th:href="@{/types/{id}(id=${type.id})}" class="item" th:each="type : ${types}" >
                                <span th:text="${type.name}">学习日志</span>
                                <div class="ui secondary left pointing label" th:text="${type.publishedCount}">13</div>
                            </a>
                        </div>
                    </div>
                </div>

                <!--标签-->
                <div class="ui segments m-margin-top-large">
                    <div class="ui secondary segment">
                        <div class="ui two column grid">
                            <div class="column">
                                <i class="clone outline icon"></i>标签
                            </div>
                            <div class="right aligned column">
                                <a href="#" th:href="@{/types/-1}"  class="ui label ">更多 <i class="angle double right icon"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="ui segment">
                        <a href="#" th:href="@{/tags/{id}(id=${tag.id})}"  class="ui left pointing label m-margin-tb-tiny" th:each="tag : ${tags}" >
                            <span th:text="${tag.name}">方法论</span> <div class="detail" th:text="${tag.publishedCount}">23</div>
                        </a>
                    </div>
                </div>

            </div>


            <div class="eleven wide column right-index">
                <!--header-->
                <div class="ui top attached segment">
                    <div class="ui middle aligned two column grid">
                        <div class="column">
                            <h3 class="ui grey header">博客</h3>
                        </div>
                        <div class="right aligned column">
                            共 <h2 class="ui black header m-inline-block m-text-thin" th:text="${page.totalElements}"> 14 </h2> 篇
                        </div>
                    </div>
                </div>

                <!--content-->
                <div class="ui attached segment">

                    <div class="ui padded vertical segment m-padded-tb-large" th:each="blog : ${page.content}">
                        <div class="ui middle aligned mobile reversed stackable grid" >
                            <div class="eleven wide column">
                                <h3 class="ui header" ><a href="#"  th:href="@{/blog/{id}(id=${blog.id})}" th:text="${blog.title}"  class="m-black" >你真的理解什么是财富自由吗？</a></h3>
                                <p class="m-text" th:text="|${blog.description}...|">正确做好任何一件事情的前提是清晰、正确的理解目标。而事实是，我们很多人很多时候根本没有对目标正确的定义，甚至根本从来就没有想过，只是大家都那么做而已…...</p>
                                <div class="ui grid">
                                    <div class="eleven wide column">
                                        <div class="ui mini horizontal link list">
                                            <div class="item">
                                                <img src="https://unsplash.it/100/100?image=1005" th:src="@{${blog.user.avatar}}" alt="" class="ui avatar image">
                                                <div class="content"><a href="#" class="header" th:text="${blog.user.nickname}"></a></div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i><span th:text="${#dates.format(blog.createDate,'yyyy年M月d日 HH:mm')}" >2017-10-01</span>
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i> <span th:text="${blog.views}">2342</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right aligned five wide column" >
                                        <a href="#" th:href="@{/types/{id}(id=${blog.type.id})}"  class="ui label" th:text="${blog.type.name}">认知升级</a>
                                    </div>
                                </div>
                            </div>
                            <div class="five wide column">
                                <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" >
                                    <img src="https://unsplash.it/800/450?image=1005" th:src="@{${blog.firstPicture}}" alt="" class="ui rounded image">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--footer-->
                <div class="ui bottom attached segment" th:if="${page.totalPages}>1">
                    <div class="ui middle aligned two column grid">
                        <div class="column">
                            <a href="#" th:href="@{/(page=${page.number}-1)}"th:unless="${page.first}" class="ui mini gery basic button">上一页</a>
                        </div>
                        <div class="right aligned column">
                            <a href="#" th:href="@{/(page=${page.number}+1)}"th:unless="${page.last}" class="ui mini gery basic button">下一页</a>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

</div>

<br>
<br>
<!--底部footer-->
<footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../static/images/wechat.jpg" th:src="@{/images/wechat.jpg}"  class="ui rounded image" alt="" style="width: 110px">
                    </div>
                </div>
            </div>
            <div class="three wide column" >
                <h4 class="ui inverted header m-text-thin m-text-spaced " >最新博客</h4>
                <div id="newBlog-container">
                    <div class="ui inverted link list" th:fragment="newBlogList">
                        <a href="#" class="item m-text-thin">用户故事（User Story）</a>
                        <!--/*-->
                        <a href="#" class="item m-text-thin"> 用户故事（User Story）</a>
                        <a href="#" class="item m-text-thin">用户故事（User Story）</a>
                        <!--*/-->
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced ">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item m-text-thin" >Email：2543748475@qq.com</a>
                    <a href="#" class="item m-text-thin">QQ：2543748475</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced ">Blog</h4>
                <p class="m-text-thin m-text-spaced m-opacity-mini">这是我的个人博客、会分享关于编程、写作、思考相关的任何内容，希望可以给来到这儿的人有所帮助...</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © 2020 - Jerry Designed by Jerry</p>
    </div>

</footer><!--/*/<th:block th:replace="_fragments :: script">/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<!--/*/</th:block>/*/-->

<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $(function(){
        $('#mobile-show').click(function (){
            if($('#indexNavbar').height() < '100'){
                $('#indexNavbar').height($('#indexNavbar').height()*6);
            }else {
                $('#indexNavbar').height('52.4');
            }
        });
    });

    jQuery(document).ready(function($){

        $("#welcome").height($(window).height());

        $("#welcome-info").css({
            'opacity':1
        });

        function showGoHome(){
            $("#goHome").css({
                'opacity':1
            });
        }

        setTimeout(function () {
            showGoHome();
        },5000);

        if(window.location.href.split("?")[1] == null){
            window.addEventListener("scroll",welcomePage);
        }else{
            $("#welcome").remove();
            $(".left-index").css({
                'left':0,
                'opacity':'1'
            });
            $(".right-index").css({
                'right':0,
                'opacity':'1'
            });
            $("#blog-content").css({
                'top':0,
                'opacity':'1'
            });
            welcomePage();
        }

        function welcomePage() {
            let scrollTop = document.documentElement.scrollTop || document.body.scrollTop;
            let offsetTop = $('#indexNavbar').offset().top;
            if (scrollTop >= offsetTop) {
                document.querySelector('#indexNavbar').style.position="fixed";
                document.querySelector('#indexNavbar').style.top="0";
                $("#nav-area").height('60px');
                $("#welcome").remove();
                $("#nav-items").css({
                    'opacity':'1'
                });
                document.documentElement.scrollTop = 0;
                document.body.scrollTop = 0;
                window.removeEventListener("scroll",welcomePage);
            }
        }
        var b,c;
        var group = $("#indexNavbar");
        $(window).scroll(function(){
            b = $(this).scrollTop();   //页面滚动的高度
            c = group.offset().top;    //元素距离文档（document）顶部的高度
            if(b > 60){
                $("#nav-items").css({
                    'opacity':'1'
                });
            }
            if(b>=c/3){
                $(".left-index").css({
                    'left':0,
                    'opacity':'1'
                })
                $(".right-index").css({
                    'right':0,
                    'opacity':'1'
                })
                $("#blog-content").css({
                    'top':0,
                    'opacity':'1'
                })
            }else{

            }
        });

        $(".header-img").height($(window).height());

        $(window).resize(function(){
            $(".header-img").height($(window).height());
        });

        //set animation timing
        var animationDelay = 100,
            //loading bar effect
            barAnimationDelay = 2500,
            barWaiting = barAnimationDelay - 2500, //3000 is the duration of the transition on the loading bar - set in the scss/css file
            //letters effect
            lettersDelay = 50,
            //type effect
            typeLettersDelay = 150,
            selectionDuration = 500,
            typeAnimationDelay = selectionDuration + 800,
            //clip effect
            revealDuration = 600,
            revealAnimationDelay = 1500;

        initHeadline();


        function initHeadline() {
            //insert <i> element for each letter of a changing word
            singleLetters($('.cd-headline.letters').find('b'));
            //initialise headline animation
            animateHeadline($('.cd-headline'));
        }

        function singleLetters($words) {
            $words.each(function(){
                var word = $(this),
                    letters = word.text().split(''),
                    selected = word.hasClass('is-visible');
                for (i in letters) {
                    if(word.parents('.rotate-2').length > 0) letters[i] = '<em>' + letters[i] + '</em>';
                    letters[i] = (selected) ? '<i class="in">' + letters[i] + '</i>': '<i>' + letters[i] + '</i>';
                }
                var newLetters = letters.join('');
                word.html(newLetters).css('opacity', 1);
            });
        }

        function animateHeadline($headlines) {
            var duration = animationDelay;
            $headlines.each(function(){
                var headline = $(this);

                if(headline.hasClass('loading-bar')) {
                    duration = barAnimationDelay;
                    setTimeout(function(){ headline.find('.cd-words-wrapper').addClass('is-loading') }, barWaiting);
                } else if (headline.hasClass('clip')){
                    var spanWrapper = headline.find('.cd-words-wrapper'),
                        newWidth = spanWrapper.width() + 10
                    spanWrapper.css('width', newWidth);
                } else if (!headline.hasClass('type') ) {
                    //assign to .cd-words-wrapper the width of its longest word
                    var words = headline.find('.cd-words-wrapper b'),
                        width = 0;
                    words.each(function(){
                        var wordWidth = $(this).width();
                        if (wordWidth > width) width = wordWidth;
                    });
                    headline.find('.cd-words-wrapper').css('width', width);
                };

                //trigger animation
                setTimeout(function(){ hideWord( headline.find('.is-visible').eq(0) ) }, duration);
            });
        }

        function hideWord($word) {
            var nextWord = takeNext($word);

            if($word.parents('.cd-headline').hasClass('type')) {
                var parentSpan = $word.parent('.cd-words-wrapper');
                parentSpan.addClass('selected').removeClass('waiting');
                setTimeout(function(){
                    parentSpan.removeClass('selected');
                    $word.removeClass('is-visible').addClass('is-hidden').children('i').removeClass('in').addClass('out');
                }, selectionDuration);
                setTimeout(function(){ showWord(nextWord, typeLettersDelay) }, typeAnimationDelay);

            } else if($word.parents('.cd-headline').hasClass('letters')) {
                var bool = ($word.children('i').length >= nextWord.children('i').length) ? true : false;
                hideLetter($word.find('i').eq(0), $word, bool, lettersDelay);
                showLetter(nextWord.find('i').eq(0), nextWord, bool, lettersDelay);

            }  else if($word.parents('.cd-headline').hasClass('clip')) {
                $word.parents('.cd-words-wrapper').animate({ width : '2px' }, revealDuration, function(){
                    switchWord($word, nextWord);
                    showWord(nextWord);
                });

            } else if ($word.parents('.cd-headline').hasClass('loading-bar')){
                $word.parents('.cd-words-wrapper').removeClass('is-loading');
                switchWord($word, nextWord);
                setTimeout(function(){ hideWord(nextWord) }, barAnimationDelay);
                setTimeout(function(){ $word.parents('.cd-words-wrapper').addClass('is-loading') }, barWaiting);

            } else {
                switchWord($word, nextWord);
                setTimeout(function(){ hideWord(nextWord) }, animationDelay);
            }
        }

        function showWord($word, $duration) {
            if($word.parents('.cd-headline').hasClass('type')) {
                showLetter($word.find('i').eq(0), $word, false, $duration);
                $word.addClass('is-visible').removeClass('is-hidden');

            }  else if($word.parents('.cd-headline').hasClass('clip')) {
                $word.parents('.cd-words-wrapper').animate({ 'width' : $word.width() + 10 }, revealDuration, function(){
                    setTimeout(function(){ hideWord($word) }, revealAnimationDelay);
                });
            }
        }

        function hideLetter($letter, $word, $bool, $duration) {
            $letter.removeClass('in').addClass('out');

            if(!$letter.is(':last-child')) {
                setTimeout(function(){ hideLetter($letter.next(), $word, $bool, $duration); }, $duration);
            } else if($bool) {
                setTimeout(function(){ hideWord(takeNext($word)) }, animationDelay);
            }

            if($letter.is(':last-child') && $('html').hasClass('no-csstransitions')) {
                var nextWord = takeNext($word);
                switchWord($word, nextWord);
            }
        }

        function showLetter($letter, $word, $bool, $duration) {
            $letter.addClass('in').removeClass('out');

            if(!$letter.is(':last-child')) {
                setTimeout(function(){ showLetter($letter.next(), $word, $bool, $duration); }, $duration);
            } else {
                if($word.parents('.cd-headline').hasClass('type')) { setTimeout(function(){ $word.parents('.cd-words-wrapper').addClass('waiting'); }, 200);}
                if(!$bool) { setTimeout(function(){ hideWord($word) }, animationDelay) }
            }
        }

        function takeNext($word) {
            return (!$word.is(':last-child')) ? $word.next() : $word.parent().children().eq(0);
        }

        function switchWord($oldWord, $newWord) {
            $oldWord.removeClass('is-visible').addClass('is-hidden');
            $newWord.removeClass('is-hidden').addClass('is-visible');
        }
    });

</script>
</body>
</html>